# RabbitMQ
export RABBITMQ_HOST=localhost
export RABBITMQ_PORT=5672
export RABBITMQ_USERNAME=guest
export RABBITMQ_PASSWORD=guest
export RABBITMQ_QUEUE=offers
export RABBITMQ_EXCHANGE=property_scraper

# Scraper
export REQUEST_DELAY=3.0
export REQUEST_TIMEOUT=15
export FIRST_PAGE_INTERVAL=10
export FULL_SCRAPE_HOUR=2