# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=offers
RABBITMQ_EXCHANGE=property_scraper

# Scraper
REQUEST_DELAY=3.0
REQUEST_TIMEOUT=15
FIRST_PAGE_INTERVAL=10
FULL_SCRAPE_TIME=21:22
SCRAPER_MODE=scheduler
